<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.shopnc.shop"
    android:versionCode="1"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
        tools:overrideLibrary="com.umeng.socialize.evernote,com.umeng.socialize.pinterest" />

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 挂载sd卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 其它 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_APN_SETTINGS" />

    <!-- 系统拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".common.MyShopApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme.Basic" >

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Gx5GYPabttlw6za8m6CUk8LD" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainFragmentManager"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.SubjectWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.OrderListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.PayMentWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.VBuyStep1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.OrderDeliverDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.VirtualListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.IMHistoryListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.RegisteredActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.IMFriendsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.FeekBaskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.IMSendMsgActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.HelpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.FavStoreListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.TwoTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.GoodsListFragmentManager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.GoodsDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.TuWenActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.GoodsParamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.SpecActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.FavGoodsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.VoucherListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.PasswordUnbundlingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.BuyStep1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.AddressListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.InvoiceListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.AddressADDActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.store.StoreSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".bracode.ui.CaptureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!-- 微信回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name=".common.AppRegister" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BrandActivity"
            android:label="@string/title_activity_brand" />
        <activity
            android:name=".ui.mine.RegisterMobileActivity"
            android:label="@string/title_activity_register_mobile" />
        <activity
            android:name=".ui.mine.RegisterMobileStep2Activity"
            android:label="@string/title_activity_register_mobile_step2" />
        <activity
            android:name=".ui.mine.RegisterMobileStep3Activity"
            android:label="@string/title_activity_register_mobile_step3" />
        <activity
            android:name=".ui.type.ImageSwitchActivity"
            android:label="@string/title_activity_image_switch"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".ui.type.GoodsBrowseActivity"
            android:label="@string/title_activity_goods_browse" />
        <activity
            android:name=".ui.mine.VirtualInfoActivity"
            android:label="@string/title_activity_virtual_detail" />
        <activity
            android:name=".ui.mine.MyAssetActivity"
            android:label="@string/title_activity_my_asset" />
        <activity
            android:name=".ui.mine.SigninActivity"
            android:label="@string/title_activity_signin" />

        <!-- 腾通讯开放平台 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104747605" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.mine.PredepositActivity"
            android:label="@string/title_activity_predeposit" />
        <activity
            android:name=".ui.mine.RechargeCardLogActivity"
            android:label="@string/title_activity_recharge_card_log" />
        <activity
            android:name=".ui.mine.RechargeCardAddActivity"
            android:label="@string/title_activity_recharge_card_add" />
        <activity
            android:name=".ui.mine.VoucherPasswordAddActivity"
            android:label="@string/title_activity_voucher_password_add" />
        <activity
            android:name=".ui.mine.RedpacketListActivity"
            android:label="@string/title_activity_redpacket_list" />
        <activity
            android:name=".ui.mine.RedpacketPasswordAddActivity"
            android:label="@string/title_activity_redpacket_password_add" />
        <activity
            android:name=".ui.mine.PointLogActivity"
            android:label="@string/title_activity_point_log" />
        <activity
            android:name=".ui.mine.BindMobileActivity"
            android:label="@string/title_activity_bind_mobile" />
        <activity
            android:name=".ui.mine.UnbindMobileActivity"
            android:label="@string/title_activity_unbind_mobile" />
        <activity
            android:name=".ui.mine.ModifyPasswordStep1Activity"
            android:label="@string/title_activity_modify_password" />
        <activity
            android:name=".ui.mine.ModifyPasswordStep2Activity"
            android:label="@string/title_activity_modify_password_step2" />
        <activity
            android:name=".ui.mine.ModifyPaypwdStep1Activity"
            android:label="@string/title_activity_modify_paypwd_step1" />
        <activity
            android:name=".ui.mine.ModifyPaypwdStep2Activity"
            android:label="@string/title_activity_modify_paypwd_step2" />
        <activity
            android:name=".ui.type.StoreO2oAddressActivity"
            android:label="@string/title_activity_store_o2o_address" />
        <activity
            android:name=".ui.type.BaiduMapActivity"
            android:label="@string/title_activity_baidu_map" />

        <!-- 新浪微博 -->

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>

        <!-- application########注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="566e3d5167e58e2442001aee" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ShopncB2B2C" >
        </meta-data>

        <activity android:name=".ui.store.newStoreInFoActivity" />
        <activity android:name=".ui.store.StoreGoodsListFragmentManager" />
        <activity android:name=".ui.store.StoreIntroduceActivity" />

        <!-- alipay sdk begin -->
        <activity android:name="com.alipay.sdk.pay.PayDemoActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".ui.type.EvaluateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.type.EvaluateAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.mine.OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".ui.mine.OrderWuLiuActivity"
            android:label="@string/title_activity_order_wu_liu" >
        </activity>
        <activity
            android:name=".ui.mine.OrderExchangeActivity"
            android:label="@string/title_activity_order_exchange" >
        </activity>
        <activity
            android:name=".ui.mine.OrderGoodsTuiMoneyActivity"
            android:label="@string/title_activity_order_goods_tui_money" >
        </activity>
        <activity
            android:name=".ui.mine.OrderGoodsTuiGoodsActivity"
            android:label="@string/title_activity_order_goods_tui_goods" >
        </activity>
        <activity
            android:name=".ui.mine.OrderExchangeListActivity"
            android:label="@string/title_activity_order_exchange_list" >
        </activity>
        <activity
            android:name=".ui.mine.OrderExchangeControlDetailsActivity"
            android:label="@string/title_activity_order_exchange_control_details" >
        </activity>
        <activity
            android:name=".ui.mine.OrderExchangeSendGoodsActivity"
            android:label="@string/title_activity_order_exchange_send_goods" >
        </activity>
    </application>

</manifest>
